  <object id="app-nav-site-logo" type="image/svg+xml" data="assets/images/logo_with_dotcom.svg">JTMORRIS&lt;bytes&gt; </object>

  <div id="app-nav-links">
    <a (click)=onDropdownButtonClicked() routerLink="/" href="/">Home</a>
    <a (click)=onDropdownButtonClicked() routerLink="/about" href="/about">about</a>
    <a (click)=onDropdownButtonClicked() routerLink="/projects" href="/projects">projects</a>
  </div>
  <button type="button" (click)=onDropdownButtonClicked() id="app-nav-dropdown">menu</button>