$content-margin-percent: 10;
:host {
    .router-container {
      padding: 0 "#{$content-margin-percent}%";
      padding: 0 #{$content-margin-percent}vw;
      margin:0 auto;
      max-width: 1200px;
       //border: 1px solid red; 
    }
}