
  <h1 class="title">   {{ authorFName + " " + authorMName.substring(0,1) + " " + authorLName }}   </h1>
  <!-- <object class="splash-img" data="assets/images/welcome.svg" type="image/svg+xml">welcome to the lab</object> -->
  <img class="splash-img" src="assets/images/jordan-splash.png" alt="A photo of Jordan Morris">
  <div class="subtitle-container">
    <h2 class="subtitle" *ngFor="let quality of authorQualities">{{ quality }}</h2>
  </div>
  
  <hr />
  
  <article>
    <header>
      <h3>Hello World!</h3>
    </header>
    
    <p>My name is {{authorFName + " " + authorLName}}</p>
  </article>