/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "TenbyFive";
    src: url("assets/fonts/tenby-five.otf") format("embedded-opentype")
    
}
body {
    h1,h2,h3,h4,h5,h6,p, label, button,
    article,div,input,object,aside{
        font-family: "TenbyFive", 'Courier New', Courier, monospace;
    }
}
*{
    z-index: 0;
}