/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "TenbyFive";
    src: url("assets/fonts/tenby-five.otf") format("embedded-opentype")
    
}
body {
    h1,h2,h3,h4,h5,h6,p, label, button,
    article,div,input,object,aside{
        font-family: "TenbyFive", 'Courier New', Courier, monospace;
    }
}
*{
    z-index: 0;
}
:root {
    font-size: 10px;
}

@media screen and (max-width: 260px) {
    :root{
        font-size: 11px;
    }
    
}
@media screen and (max-width:320px){
    :root {
        font-size:12px;
    }
    
    
}
@media screen and (max-width: 480px) {
    :root {
        font-size: 13px;
    }
}
@media screen and (max-width:560px){
    :root {
        font-size: 14px;
    }
    
}
@media screen and (max-width:720px) {
    :root {
        font-size: 16px;
    }
}
@media screen and (max-width:960px){
    :root {
        font-size: 18px;
    }
    
}
@media screen and (max-width:1200px){
    :root {
        font-size: 20px;
    }
}
@media screen and (max-width:1600px){
    :root {
        font-size: 22px;
    }

}
@media screen and (min-width:1601px){
    :root {
        font-size: 30px;
    }
}