<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<p>computers do whatever I tell them, and I can deconstruct their inner workings to understand them. people however are a whole different story.
  
</p>

<p>I can tell a computer to connect to another computer and have them understand each other.
   However, developing understanding and implementing a set of protocols for communicating between humans is challenging for me.
   Unlike computers that are 100% logical, rational, and (mostly) predictable, us humans can be far more complex and far more unpredictable.
   As such, trying to understand other people is difficult to me.</p>

<p>The process of understanding another human being is far different than understanding a computer or software system. I can break down a software system to its component parts to see how it works and can look into the brain of the computer to see what it is thinking.
   Sadly I dont have the same access to be able to see plainly how people work and I cant see into their heads and know exactly what they are thinking.
   all I really can rely on is the fact that I can adhere mostly to the same protocol that they do and hope that i can understand enough about how pepole work in order to communicate with them.
   The defining difference in my opinion is that computers can do whatever I tell them to, even to a fault. Other people however do not.
</p>

<p>I have come a long way trying to understand both people and computers. It has taken me many years to learn how to speak the languages and understand the protocols of both man and machine. I am not perfect, nor am I an expert.
   I cant dazzle you with fancy words and CGI, but I can promise you that I will do the best I can to learn how to speak your language and understand your protocol so our sockets can connect and we can understand what we are saying. I will do my best to be the ambassador of man and machine.
 If you give me the time and chance to stumble, fall, and learn, I will do everything I can to work with you and our beloved machines to help you understand and develop technologies. lets do this together, one epic byte at a time
</p>
